<?xml version='1.0' encoding='utf-8'?>
<widget id="sinergo" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Sinergo Servizi</name>
    <description>
        App Sinergo Servizi: Corsi di formazione, promozioni e accesso analisi.
    </description>
	<Icona  src = "icon.png"  />
    <author email="p.guglielmo@mvitalia.com" href="http://www.mvitalia.com/">
        MVItalia team
    </author>
    <content src="index.html" />
    <plugin name="InAppBrowser" value="org.apache.cordova.InAppBrowser" />
	<plugin name="childbrowser" value="com.phonegap.plugins.childbrowser"  />
	<access origin="*" browserOnly="true" />
	
</widget>
